<extend name="Public/base"/>
<block name="left">
	<include file="left_stu"/>
</block>
<block name="content">
    <div class="main-content">
        <div id="top-alert" class="fixed alert alert-error" style="display:none;">
            <button class="fixed close">X</button>
            <div class="alert-content">这是内容</div>
        </div>
        <div class="main">
            <div class="main-title">个人申请({$count})</div>
            <div class="cf">
                <a href="{:U('article/apply_content')}" class="btn" style="float:right;">添加申请</a>
                <!--去掉查找框
                <a href="{:U('article/delete',array('id'=>$id))}" class="btn">删除</a>
                <div class="search" >
                    <input class="search-input" />
                    <a href="" class="search-a btn">查找</a>
                </div>
                -->
                <form action="{:U('article/searchinfo')}" method="get">
                <select name="item" style="height: 30px;">
                	<option value="0">全部</option>
                    <option value="1">第一学期</option>
                    <option value="2">第二学期</option>
                    <option value="3">第三学期</option>
                    <option value="4">第四学期</option>
                    <option value="5">第五学期</option>
                    <option value="6">第六学期</option>
                    <option value="7">第七学期</option>
                    <option value="8">第八学期</option>
                </select>
               
                    <input type="submit"  class="search-a btn" style="margin-top:-3px;" value="查找"/>
                </form>
            </div>
            <div class="data-table">
                        <table class="">
                            <thead>
                                <tr>
                                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                                <th class="">编号</th>
                                <th class="">名称</th>
                                <th class="">姓名</th>
                                <th class="">学号</th>
                                <th class="">分类</th>
                                <th class="">学期</th>
                                <th class="">年级</th>
                                <th class="">状态</th>
                                <th class="">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <foreach name="moban_info" item="one">
                                <tr>
                                    <td><input class="ids" type="checkbox" name="ids[]" value="12" /></td>
                                    <td>{$one.mix_id}</td>
                                    <td><a href="{:U('article/detial',array('mix_id'=>$one['mix_id']))}">{$one.name}</a></td>
                                    <td><span>{$one.stu_name}</span></td>
                                    <td><span>{$one.student_id}</span></td>
                                    <td>{$one.info_type}</td>
                                    <td>{$one.item}</td>
                                    <td><span>{$one.grade}</span></td>
                                    <td><span>{$one.status}</span></td>
                                    <td>
                                        <a href="{:U('article/detial',array('mix_id'=>$one['mix_id']))}" class="ajax-get">查看</a>
                                        <a href="{:U('article/delete_apply',array('mix_id'=>$one['mix_id']))}" class="confirm ajax-get">删除</a>
                                        </td>
                                        
                                    
                                </tr>
                                </foreach>
                            </tbody>
                        </table> 

            </div>
            <div class="page">
                {$show}
            </div>
        </div>
        <div class="ldsn-cp">&copy;2015 LDSN, <a href="http://www.ldustu.com" style="display:inline;">鲁大学生网</a> 版权所有</div>
    </div>
</block>
<block name="js">
	<script type="text/javascript">
	$('document').ready(function(){
		//导航高亮
       	highlight_subNav('{:U('Article/search')}');
	});
	</script>
</block>