<extend name="Public/base"/>
<block name="left">
	<include file="left_stu"/>
</block>
<block name="content">
    <div class="main-content">
        <div id="top-alert" class="fixed alert alert-error" style="display:none;">
            <button class="fixed close">X</button>
            <div class="alert-content">这是内容</div>
        </div>
        <div class="main">
            <div class="main-title">正在查看申请细节，提交可更新</div>
            <div class="data-table">
                <form action="{:U('article/upapply')}" method="post">
                <input name="mix_id" style="display:none" value="{$mix_id}"/>
                <label for="data-title" class="label">申请名称</label>
                <span>{$apply_detial.name}</span>
                <label for="data-title" class="label">所在学期</label>
                <span>{$apply_detial.item}</span>
                <label for="data-title" class="label">分类</label>
                <span>{$info_type.info_type_name}</span>
                <label for="data-title" class="label">详细内容</label>
                <textarea id="container" name="content" class="data-content">
                    {$apply_detial.content}
                </textarea>
                
                </form>
            </div>
            <div class="page"></div>
        </div>
        <div class="ldsn-cp">&copy;2015 LDSN, <a href="http://www.ldustu.com" style="display:inline;">鲁大学生网</a> 版权所有</div>
    </div>
</block>
<block name="js">
<script type="text/javascript" src="__PUBLIC__/ue/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/ue/ueditor.all.js"></script>
	<script type="text/javascript">

	$('document').ready(function(){
		//导航高亮
       	highlight_subNav('{:U('Article/set')}');
        var ue = UE.getEditor('container');
	});
	</script>
</block>