        <div class="sideleft">
            <div class="subnav">
                <h3>
                    <i class="icon"></i>
                    综合信息
                </h3>
                <ul class="side-sub-menu">
                    <li><a href="{:U('Article/informed')}" class="item">通知信息</a></li>
                    <li><a href="{:U('Article/apply')}" class="item">个人申请</a></li>
                    <li><a href="{:U('Article/infoshow')}" class="item">综合素质</a></li>
                    <li><a href="{:U('Article/checkinfo')}" class="item">综合素质得分</a></li>
                </ul>
            </div>
            <div class="subnav">
                <h3>
                    <i class="icon"></i>
                    回收站
                </h3>
                <ul class="side-sub-menu">
                    <li><a href="{:U('Article/recycle')}" class="item">已删除</a></li>
                </ul>
            </div>
        </div>
        <!-- /侧边栏 -->