        <div class="sideleft">
            <div class="subnav">
                <h3>
                    <i class="icon"></i>
                    综合信息
                </h3>
                <ul class="side-sub-menu">
                    <li><a href="{:U('Article/wait')}" class="item">待审核</a></li>
                    <li><a href="{:U('Article/set')}" class="item">已审核</a></li>
                    <li><a href="{:U('Article/search')}" class="item">综合素质</a></li>
                    
                </ul>
            </div>
            <div class="subnav">
                <h3>
                    <i class="icon"></i>
                    学生信息
                </h3>
                <ul class="side-sub-menu">
                    <li><a href="{:U('Article/setin')}" class="item">导入信息</a></li>
                    <li><a href="{:U('Article/search_info')}" class="item">查找信息</a></li>
                </ul>
            </div>
            
        </div>
        <!-- /侧边栏 -->