        <div class="sideleft">
            <div class="subnav">
                <h3>
                    <i class="icon"></i>
                    个人中心
                </h3>
                <ul class="side-sub-menu">
                    <li><a href="{:U('User/upinfo')}" class="item">更新资料</a></li>
                    <li><a href="{:U('User/repswd')}" class="item">更改密码</a></li>
                </ul>
            </div>
<!--             <div class="subnav">
                <h3>
                    <i class="icon"></i>
                    个人中心
                </h3>
                <ul class="side-sub-menu">
                    <li><a href="" class="item">我的文档</a></li>
                    <li><a href="" class="item">草稿箱</a></li>
                </ul>
            </div> -->
        </div>
        <!-- /侧边栏 -->