<extend name="Public/base"/>
<block name="style">
    <style>
        body{
            padding:50 0 0 0;
        }
    </style>
</block>
<block name="content">
    <div class="main-content">
        <div id="top-alert" class="fixed alert alert-error" style="display:none;">
            <button class="fixed close">X</button>
            <div class="alert-content">这是内容</div>
        </div>
        <div class="main" id="main" >
            <div class="index-main">
                <div class="index-top">
                    <h1>{$username}你好！<br/>
                        <span>欢迎登录,共有{$count}条消息记录</span>
                    </h1>
                    <hr/>
                </div>
                <div class="index-contain">
                    <div class="data-table">
                        <table class="">
                            <thead>
                                <tr>
                                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                                <th class="">编号</th>
                                <th class="">标题</th>
                                <th class="">创建者</th>
                                <th class="">学号</th>
                                <th class="">分类</th>
                                <th class="">学期</th>
                                <th class="">发布时间</th>
                                <th class="">状态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <foreach name="moban_info" item="one">
                                <tr>
                                    <td><input class="ids" type="checkbox" name="ids[]" value="12" /></td>
                                    <td>{$one.mix_id}</td>
                                    <td>{$one.name}</td>
                                    <td><span>{$one.stu_name}</span></td>
                                    <td><span>{$one.student_id}</span></td>
                                    <td>{$one.info_type}</td>
                                    <td>{$one.item}</td>
                                    <td><span>{$one.grade}</span></td>
                                    <td>
                                    <span>{$one.status}</span>
                                        </td>
                                        
                                    
                                </tr>
                                </foreach>
                            </tbody>
                        </table> 
                        <div class="page">
                            {$show}
                        </div>  
                </div>
            </div>
        </div>
        <div class="ldsn-cp">&copy;2015 LDSN, <a href="http://www.ldustu.com" style="display:inline;">鲁大学生网</a> 版权所有</div>
    </div>
</block>
<block name="js">
    <script type="text/javascript">
    $('document').ready(function(){
        //导航高亮
        highlight_manNav('{:U('Index/index')}');
    });
    </script>
</block>