<extend name="Public/base"/>
<block name="left">
	<include file="left"/>
</block>
<block name="content">
    <div class="main-content">
        <div id="top-alert" class="fixed alert alert-error" style="display:none;">
            <button class="fixed close">X</button>
            <div class="alert-content">这是内容</div>
        </div>
        <div class="main">
            <div class="main-title">修改个人资料</div>
            <div class="main-upinfo">
                <form class="upinfo-form" action="{:U('User/setupinfo')}" method="post">
                    <label for="info-title" class="label">{$name}，你好</label>
                    <label for="info-title" class="label">邮件</label>
                    <input type="text" name="email" value="{$email}"/>
                    <label for="info-title" class="label">邮编</label>
                    <input type="text" name="zipcode"  value="{$zipcode}"/>
                    <label for="info-title" class="label">手机号码</label>
                    <input type="text" name="phone"  value="{$phone}"/>
                    <label for="info-title" class="label">家庭电话</label>
                    <input type="text" name="home_phone"  value="{$home_phone}"/>
                    <label for="info-title" class="label">家庭住址</label>
                    <input type="text" name="address"  value="{$address}"/>
                    <label for="info-title" class="label">健康状况</label>
                    <input type="text" name="health"  value="{$health}"/>
                    <input type="submit" name="submit" value="更新资料" class="btn" />
                </form>
                <div class="upinfo-right">
                    <div>
                        <label for="info-title" class="label">姓名：<span>{$name}</span></label>
                    </div>
                    <div>
                        <label for="info-title" class="label">学号：<span>{$student_id}</span></label>
                    </div>
                    <div>
                        <label for="info-title" class="label">专业：<span>{$major}</span></label>
                    </div>
                    <div>
                        <label for="info-title" class="label">入学年份：<span>{$grade}</span></label>
                        
                    </div>
                    <div>
                        <label for="info-title" class="label">性别：<span>{$gender}</span></label>
                        
                    </div>
                    <div>
                        <label for="info-title" class="label">民族：<span>{$nation}</span></label>
                        
                    </div>
                    <div>
                        <label for="info-title" class="label">政治面貌：<span>{$political_status}</span></label>
                    </div>
                    <div>
                        <label for="info-title" class="label">身份证：<span>{$id_card}</span></label>
                    </div>
                    <div>
                        <label for="info-title" class="label">出生日期：<span>{$birth}</span></label>
                    </div>
                    <div>
                        <label for="info-title" class="label">籍贯：<span>{$country}</span></label>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
        <div class="ldsn-cp">&copy;2015 LDSN, <a href="http://www.ldustu.com" style="display:inline;">鲁大学生网</a> 版权所有</div>
    </div>
</block>
<block name="js">
	<script type="text/javascript">
	$('document').ready(function(){
		//导航高亮
		highlight_manNav('{:U('User/upinfo')}');
       	highlight_subNav('{:U('User/upinfo')}');
	});
	</script>
</block>
